<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Page</title>

        <!-- Link main CSS file and additional fonts -->
        <link href="{{ plugin_path('EkomiFeedback') }}/css/main.css" rel="stylesheet">
    </head>

    <body>

    <div>
        <h1>curl response</h1>
        response: {{ curl_response }}
    </div>

        <!-- To Do list -->
        <div class="list">
            {{ a_user }}

            {% for user in users %}
                * {{ user.email }}<br>
            {% else %}
                No users have been found.
            {% endfor %}
        </div>


        <p>{{ packagistResult.total }} Results</p>
        <ul>
            {% for packagistItem in packagistResult.results %}
                <li>{{ packagistItem.name }} : {{ packagistItem.repository }}</li>
            {% else %}
                <li>No entries</li>
            {% endfor %}
        </ul>

    </body>
</html>
