<link href="{{ plugin_path('LoyalistaIntegration') }}/css/main.css" rel="stylesheet">
<script src="{{ plugin_path('LoyalistaIntegration') }}/js/main.js"></script>

<div class="loyalista-widget-wrapper" style="border: {{widget_border_width}} solid {{widget_border_color}}">
    <div class="loyalista-checkout-widget_wrapper">
        <h3>{{ widget_heading }}</h3>
        <label class="un-registered-label">
            <div class="loyalista_checkout_content_wrapper">
                <input id="yes_register_me_loyalista_program" type="checkbox" value="text">
                {{ contents | raw }}
            </div>
        </label>
        <button class="btn btn-primary btn-appearance" onclick="register_me(this)"> {{ btn_label }}</button>
        <div class="loyalista_response_msg"></div>
    </div>
</div>

<script type="application/javascript">
    function doCheckOutWidgetUnReg() {
        $('.totalSum dd[data-testing="basket-amount"]').bind('DOMSubtreeModified', function(){
            setPointBaitUnRegistered();
        });
        setPointBaitUnRegistered();
    }
    $(function() {
        setTimeout(function() {
            doCheckOutWidgetUnReg();

            $('.toggle-basket-preview').on("click", function() {
                setTimeout(function(){
                    doCheckOutWidgetUnReg();
                }, 500);
            });

        }, 500);
    });
</script>
