<link href="{{ plugin_path('LoyalistaIntegration') }}/css/main.css" rel="stylesheet">
<script src="{{ plugin_path('LoyalistaIntegration') }}/js/main.js"></script>

<div class="loyalista-widget-wrapper" style="border: {{widget_border_width}} solid {{widget_border_color}}">
    <div class="loyalista-checkout-widget_wrapper">
        <h3>{{ widget_heading }}</h3>
        <span>{{ content_1 | raw }}</span>
        <br/><hr/>
        <div class="loyalista-redemption-options">
            <label class="loyalista-label">
                <input name="loyalista_widget_chekcout__options" class="loyalista_widget_chekcout_option_skip" id="loyalista_widget_chekcout_option_skip" type="radio" value="skip" checked>
                {{ content_2 }}
            </label>
            <label class="loyalista-label">
                <input name="loyalista_widget_chekcout__options"  class="loyalista_widget_chekcout_option_all" id="loyalista_widget_chekcout_option_all" type="radio" value="all">
                {{ content_3 | raw}}
            </label>
            {% if config('LoyalistaIntegration.partial_redemption') == "true" %}
                <div class="loyalista-redemption-options-custom">
                    <label class="loyalista-label">
                        <div class="loyalista_checkout_content_wrapper">
                            <input name="loyalista_widget_chekcout__options" id="loyalista_widget_chekcout_option_custom" class="loyalista_widget_chekcout_option_custom" type="radio" value="custom">
                            {{ content_4 }}
                        </div>
                    </label>
                    <span id="loyalista_widget_chekcout_option_custom_value_wrapper">
                        <input  style="display: none"
                                class="input-unit"
                                type="number"
                                min="0.01"
                                step="1"
                                name="loyalista_widget_chekcout_option_custom_value"
                                id="loyalista_widget_chekcout_option_custom_value"
                                onkeypress="return isNumber(event)"
                                onselectstart="return false"
                                onpaste="return false"
                                oncopy="return false"
                                oncut="return false"
                                ondrag="return false"
                                ondrop="return false">
                    </span>
                </div>
            {% endif %}
            <button class="loyalista-apply-redemption-btn btn btn-primary btn-appearance">{{ apply_redeem_btn_label }}</button>
        </div>

        <div class="loyalista_response_msg"></div>
    </div>
</div>

<script type="application/javascript">
    function callCheckOutWidgetReg() {
            $('.totalSum dd[data-testing="basket-amount"]').bind('DOMSubtreeModified', function(){
                setCoPointBait();
            });

            $('input#loyalista_widget_chekcout_option_custom_value').on('blur', function(e){
                validateCustomOption();
            });

            // Checkout redeeem option changed
            $('input[name=loyalista_widget_chekcout__options]').click(function() {
                let choice = $('input[name="loyalista_widget_chekcout__options"]:checked').val();
                let custom_input_field = $('input#loyalista_widget_chekcout_option_custom_value');
                hideResponse();
                switch (choice){
                    case 'skip':
                        $('.loyalista-apply-redemption-btn').hide();
                        custom_input_field.val(0).hide();
                        break;
                    case 'all':
                        custom_input_field.val(0).hide();
                        if($('.cow_account_balance').text() <= 0) {
                            showResponse('You can\'t apply this without having any points.');
                        } else {
                            $('.loyalista-apply-redemption-btn').show();
                        }
                        break;
                    case 'custom':
                        if($('.cow_account_balance').text() <= 0) {
                            showResponse('You can\'t apply this without having any points.');
                        } else {
                            custom_input_field.show();
                            $('.loyalista-apply-redemption-btn').show();
                        }
                        break;
                }
            });

            $('.loyalista-apply-redemption-btn').on('click', function (event) {
                doCheckOutLoyalista();
            });
            setCoPointBait();
    }

    $(function(){
        setTimeout(function(){
            callCheckOutWidgetReg();
            $('.toggle-basket-preview').on("click", function() {
                setTimeout(function(){
                    callCheckOutWidgetReg();
                }, 1000);
            });
        }, 1000);
    });
</script>
