<h1>My Settings</h1>
<h2>{{ widgetData.heading }}</h2>
<p>Vendor ID : {{ widgetData.vendor_id  }}</p>
<p>Vendor Hash : {{ widgetData.vendor_hash }}</p>
<p>Vendor Secret {{ widgetData.vendor_secret  }}</p>
<p>Shop Id: {{ widgetData.shop_id }}</p>
